body {
    background-image: url(gif/stars2.gif); 
    color: white; 
    font-family: "Lucida Console", monospace;
    white-space: pre-wrap;
    margin: auto;
    text-align: center;
    width: 1000px;
    line-height: 1.5;
}

h1, h2, h3 { text-align: center;}

img { text-align: center; margin: auto;}

.button, a {
    cursor: url(../shared/cursor.png), auto;
    :hover { filter: drop-shadow(0 0 1.0rem rgb(255, 255, 255)) }
}