body {
	margin: 0;
    height: 100%;
	text-align: center;
	background-image:  url(gif/stars.gif);
	color: white;
}

h1 {
	color: red;
}

h2 {
	color: pink;
}

button {
	background-color: black;
	color: white;
}

iframe {
	height: 450px;
	width: 800px;
}


a:link, a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: orange;
  background-color: transparent;
}

.tab {
	display: inline-block;
	margin-right: 35px;
	margin-left: 35px;
	cursor: url(forward.png), auto;
}

.button {
	cursor: url(forward.png), auto;
}

.page {
	display: none;
}

.caption {
	display: block;
}

#tabMenu {
	display: inline-block;
}

#photo {
	height: 500px;
	width: 500px;
}




