/* todo; share css */
body {
    background-image: url(../../gif/stars2.gif);
    color: white;
    font-family: "Lucida Console", monospace; font-size: 12pt;
    white-space: pre-wrap;
    margin: auto;
}

h1, h2, h3 {
    text-align: center;
}

.section { font-style: bold; color: red; font-size: 14pt; }

.chords { color: plum; line-height: 2 }

#buttons { 
    text-align: center; display: flex; width: fit-content; margin: auto; color: gray
}

#song {
    display: block; 
    text-align: left; 
    width: fit-content; 
    margin: auto;
}