body {
	background-image: url(../gif/stars.gif); 
	background-blend-mode: exclusion;
	background-color: black;
    color: white; 
    font-family: "Lucida Console", monospace;
	text-align: center;
	font-size: 15px;
}

a {
	display: block;
	font-size: 20px;
	padding: 10px;
	color: pink;
	font-weight: bold;
	/* color: pink; */
	cursor: url(cursor.png), auto;
	font-style: normal;
	text-decoration: none;
	a { img { display: none; } }
}

a:hover { 
	background-color: transparent; 
	filter: drop-shadow(0 0 2rem white); 
	color: white;
}

summary {
	font-size: 25px;
	font-style: bold; 
	cursor: url(shared/cursor.png), auto;
	color: lightgoldenrodyellow; 
	filter: drop-shadow(0 0 1rem blue)
}

.button { cursor: url(cursor.png), auto; }

details {
	color: lightgoldenrodyellow;
}

.local { display: none; }