body {
	background-image: url(../gif/stars.gif); 
    color: white; 
    font-family: "Lucida Console", monospace;
	text-align: center;
	font-size: 15px;
}

a { color: pink; font-style: normal;}

.button, a { cursor: url(cursor.png), auto; }

#writingPage { details {
	color: yellow;
}}